---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-primary)" size="2.5rem" gradient />
		<h2>Generación Dinámica</h2>
		<p>Crea códigos QR que puedes actualizar en tiempo real, sin necesidad de volver a imprimirlos, adaptándolos a tus necesidades.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-primary)" size="2.5rem" gradient />
		<h2>Seguimiento Avanzado</h2>
		<p>Accede a estadísticas detalladas como escaneos por ubicación, dispositivo y más, para tomar decisiones basadas en datos.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-primary)" size="2.5rem" gradient />
		<h2>Personalización Total</h2>
		<p>Diseña códigos QR únicos con colores, logotipos y estilos que reflejen tu marca de manera profesional.</p>
	</div>
</section>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
